{% extends 'Master/master.html' %}
{% load static %}

{% block title %}
<title>New Password ARU - Ecommerce </title>
{% endblock %}

{% block content %}
<main>
    <!-- section -->
    <section class="my-lg-14 my-8">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                    <!-- img -->
                    <img src="{% static 'assets/images/svg-graphics/fp-g.svg' %}" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
                    <div>
                        <div class="mb-lg-9 mb-5">
                            <!-- heading -->
                            <h1 class="mb-2 h2 fw-bold">Forgot your password?</h1>
                            <p>
                                Please enter the email address associated with your account and We will email you a link to reset your
                                password.
                            </p>
                        </div>
                        <!-- form -->
                        <div>
                            <!-- row -->
                            <div class="row g-3">
                                {% csrf_token %}
                                <div id="DivDisplayMsg" style="display: none;">
                                    <button class="close" data-close="alert"></button>
                                    <span id="SpnMsgHeader"></span>
                                    <span id="SpnErrorMsg"></span>
                                </div>
                                <!-- col -->
                                <div class="col-12">
                                    <!-- input -->
                                    <input type="text" class="form-control" name="newpassword" id="newpassword" placeholder="New Password">
                                </div>

                                <!-- btn -->
                                <div class="col-12 d-grid gap-2">
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">Save Password</button>
                                    <a href="{% url 'signin' %}" class="btn btn-light">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</main>
{% endblock %}

{% block js %}
<script src="{% static 'js/newpassword.js' %}"></script>
{% endblock %}